STRIPE_SECRET_KEY=# Your Stripe secret key goes here
STRIPE_MENSUAL_PRICE=# Your Stripe monthly price ID goes here
STRIPE_SEMESTRAL_PRICE=# Your Stripe semestral price ID goes here
STRIPE_ANNUAL_PRICE=# Your Stripe annual price ID goes here